*{
	padding: 0; margin: 0; box-sizing: border-box; 
}
header{
	width: 100%;
	height: 100vh;

    background-size: 50% 100%, cover;
    background-position: right,center;
    background-repeat: no-repeat, no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    background-attachment: fixed;
}

.logo{
	color: #fff;
	font-size: 50px;
	padding-left: 100px;
	letter-spacing: 5px;
}

.menu a{
      color: #fff;
      text-decoration: none;
      padding:10px 20px;
      margin:5px;
      font-size: 20px;
      font-weight: bold;
}
.menu{
	margin-right: 100px;
}

nav{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo span{
	color: #e74c3c;
}
.menu a:hover {
	background: #286090;
	transition: 0.4;
	border-radius: 15px;
}

.text{
	color: #fff;
	margin-top: 100px;
	margin-left: 100px;
	max-width: 450px;
}
.text h1{
	font-size: 50px;
	margin: 10px 0px;	

}
.text p{
	font-size: 25px;
	
}

.c-btn {
	border: none;
	outline: none;
	color: #fff;
	background: #337ab7;
	padding: 10px;
	margin-top: 20px;
	border-radius: 8px;
	cursor:pointer;
}
#about{
	padding: 100px 50px;
}

.section-info{
	font-weight: bold;
	text-align: center;

}

.section-info h1{
	font-size: 50px;
}
	.section-info p {
		font-size: 25px;
		color: #337ab7;
	}

.about-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.about-left-col{
	flex-basis: 50%;
}

.about-left-col img{
	width: 100%;
	padding: 50px;

}
.about-right-col{
	flex-basis: 50%;

}
#p-title{
	font-size: 20px;
	font-weight: bold;
}
.about-right-col p{
	font-size: 20px;
	text-align: justify;
}

#skills{
	padding: 100px 50px;
	background: url("../images/bg1.jpg");
	background-size: cover;
	color: white;
	background-attachment: fixed;
}

.skills-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: rgb(45,52,54);
	padding: 50px;

}

.skills-left-col{
	flex-basis: 50%;
	text-align: justify;
}

.skills-left-col p{
     font-size: 20px;
}

.skills-right-col{
	flex-basis: 50%;
	
}
progress{
	width: 80%;
}

.progress-div{
	width: 70%;
	margin: auto;
}
.progress-div p{
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 80px;
	text-align: justify;
}

#Services{
   padding: 100px 50px;

}

.Services-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.Services-box {
	flex-basis: 25%;
	text-align: center;
	box-shadow: 0px 2px 25px #151414;
	padding: 20px;
	margin-top: 20px;
}

	.Services-box:hover {
		background-color: #337ab7;
		color: #fff;
		transition: 0.4s;
	}

.Services-box img{
	width: 60%;
}
#Contact {
	padding: 100px 50px;
	background: linear-gradient(160deg,#337ab7 45%,white 0%);
}

.Contact-row{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.Contact-left-col{

	flex-basis: 50%; 
}

.Contact-right-col{
	flex-basis: 50%; 
}

.Contact-right-col form{
    text-align: center;

}

.Contact-right-col form h2{
	margin-bottom: 20px;
}

.Contact-right-col form input {
	width: 60%;
	padding: 10px;
	margin-bottom: 10px;

}

.Contact-right-col form textarea {
	width: 60%;
	padding: 10px;

}

#footer{
	background: #e74c3c;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 770px){
	                                             /*HEADER SECTION*/
	header{
		
        background-size: cover;
	}
     .menu a{display: none;}
    
     .logo{
    padding-left: 50px;
  }
  .text{
  	margin-left: 50px;
  }
                                                 /*ABOUT SECTION*/
  .about-left-col{
	flex-basis: 100%;
}

  .about-left-col img{
	width: 100%;
	padding: 50px;
}

.about-right-col{
	flex-basis: 100%;
}
                                                 /*SKILL SECTION*/
.skills-left-col{
	flex-basis: 100%;
	
}

.skills-right-col{
	flex-basis: 100%;
	
}

.progress-div{
	width: 100%;
	margin: auto;
}
progress{
	width: 80%
}

.progress-div p{
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 20px;
	text-align: justify;
}
                                                 /*SERVICE SECTION*/
.Services-box{
	flex-basis: 100%;
	margin-top: 20px;
}

.Services-box img{
	width: 60%;
} 
                                             /*CONTACT SECTION*/
.Contact-left-col{

	flex-basis: 100%; 
}

.Contact-right-col{
	flex-basis: 100%; 
}


	/* for desktop */
	.whatsapp_float {
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 40px;
		right: 40px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		font-size: 30px;
		box-shadow: 2px 2px 3px #999;
		z-index: 100;
	}

	.whatsapp-icon {
		margin-top: 16px;
	}

	/* for mobile */
	@media screen and (max-width: 767px) {
		.whatsapp-icon {
			margin-top: 10px;
		}

		.whatsapp_float {
			width: 40px;
			height: 40px;
			bottom: 20px;
			right: 10px;
			font-size: 22px;
		}
	}

}